.d-footer.bg-dark.text-white
    .container
        .d-none.row
            .col
                .d-logo
                h4 Home Dairy
        hr.d-none
        .d-none.row.quick-links
            .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
                .py-3.py-sm-2.py-md-1.py-lg-1.py-xl-1
                    ul
                        li
                            a(href="") Item
                        li.mt-2
                            a(href="") Item
            .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4
                .py-3.py-sm-2.py-md-1.py-lg-1.py-xl-1
                    ul
                        li
                            a(href="") Item
                        li.mt-2
                            a(href="") Item
        hr.d-none
        .row
            .col
                .d-copyright.text-center.pt-1.small Copyright &copy; 2020 <span class="font-weight-bold">Home Dairy India, Ltd</span>. All rights reserved.
