.d-background
  img(src="/images/1920x1080-colorful-geometry-hexagon.webp")
include header.pug
.d-body.row.align-items-center
  .col.bg-transparent.text-white.align-self-center.text-center
    .head.display-4 Coming Up!!
    hr
    p Something useful in coming. Stay tune!!
