<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" async></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous" async></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="d-container">
      <div class="d-content">
        <div class="d-background">
          <img src="/images/1920x1080-colorful-geometry-hexagon.webp">
        </div>
        <div class="d-header row">
          <div class="col text-center">
            <h1 class="text-white font-weight-bold">Home Dairy</h1>
          </div>
        </div>
        <div class="d-body row align-items-center">
          <!--<div class="container border"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>-->
          <div class="col bg-transparent text-white align-self-center text-center">
            <div class="head">
              <h2>Page is under construction</h2>
            </div>
            <p>Something useful in coming. Stay tune!!</p>
          </div>
        </div>
      </div>
      <div class="d-footer bg-dark text-white">
        <div class="container">
          <div class="d-none row">
            <div class="col">
              <div class="d-logo">
                <h4>Home Dairy</h4>
              </div>
            </div>
          </div>
          <hr class="d-none"/>
          <div class="d-none row quick-links">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <div class="py-3 py-sm-2 py-md-1 py-lg-1 py-xl-1">
                <ul>
                  <li class=""><a href="">Item</a></li>
                  <li class="mt-2"><a href="">Item</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <div class="py-3 py-sm-2 py-md-1 py-lg-1 py-xl-1">
                <ul>
                  <li><a href="">Item</a></li>
                  <li class="mt-2"><a href="">Item</a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr  class="d-none"/>
          <div class="row">
            <div class="col">
              <div class="d-copyright text-center pb-2 small">
                Copyright &copy; 2020 <span class="font-weight-bold">Home Dairy India, Ltd</span>. All rights reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
